<p><%= link_to image_tag(@js.image), jersey_path(jersey) %></p>
	<div class ="player">
		<h3><%= @js.player[:name] %></h3>
		<h3><%= @js.team[:name] %></h3>
		<h3><%= @js.size %></h3>
		<h2><%= @js.price %></h2>
	</div>